{% extends 'base.html' %}

{% block content %}

<div class="signup-form">
  <h1>Signup</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="">
      <button class="">Signup</button>
    </div>
  </form>
</div>

{% endblock content %}