{% extends 'base.html' %}

{% block content %}
<div class="task-form">
  <h1>Create a new task</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="">
      <button class="">Create</button>
    </div>
  </form>
</div>
{% endblock content %}