{% extends 'base.html' %}


{% block content %}

<div class="my-tasks-list">
  <h1>My Tasks</h1>
  {% if task_list|length %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>In project</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Is complete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
      {% if task.urgent is True and task.is_completed is False %}
      <tr>
        <td style="color:red">{{ task.name }}</td>
        <td style="color:red"><a href="{% url 'show_project' task.project.id %}">
            {{ task.project }}
          </a></td>
        <td style="color:red">{{ task.start_date }}</td>
        <td style="color:red">{{ task.due_date }}</td>
        {% else %}
        <td>{{ task.name }}</td>
        <td><a href="{% url 'show_project' task.project.id %}">
            {{ task.project }}
          </a></td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.due_date }}</td>
        {% endif %}
        {% if task.is_completed is not True%}
        <td>{{ task.is_completed | yesno:"Done," }}
          <form method="post" action="{% url 'complete_task' task.id %}">
            {% csrf_token %}
            <input type="hidden" name="is_completed" value="True">
            <button>Complete</button>
          </form>
        </td>
        {% else %}
        <td>{{ task.is_completed | yesno:"Done," }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You have no tasks</p>
  {% endif %}
</div>

{% endblock content %}