{% extends 'base.html' %}

{% block content %}

<div class="project-form">
  <h1>Create a new project</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="">
      <button class="">Create</button>
    </div>
  </form>
</div>

{% endblock content %}