{% extends 'base.html' %} {% load markdownify %}

{% block content %}

<div class="project-detail">
  <h1>{{ project.name }}</h1>
  <p>
    <a href="{% url 'delete_project' project.id %}">Delete Project</a>
    <a href="{% url 'update_project' project.id %}">Update Project</a>
  </p>
  {{ project.description|markdownify }}
  <h2>Tasks</h2>
  <p><a href="{% url 'create_task' %}">Create a new task</a></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Is completed</th>
      </tr>
    </thead>
    <tbody>
      {% for task in project.tasks.all %}
      {% if task.urgent is True and task.is_completed is False %}
      <tr>
        <td style="color:red">{{ task.name }}</td>
        <td style="color:red">{{ task.assignee }}</td>
        <td style="color:red">{{ task.start_date }}</td>
        <td style="color:red">{{ task.due_date }}</td>
        <td style="color:red">{{ task.is_completed | yesno }}</td>
        {% else %}
        <td>{{ task.name }}</td>
        <td>{{ task.assignee }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.is_completed | yesno }}</td>
        {% endif %}
        <td>
          <form method="post" action="{% url 'delete_task' task.id %}">
            {% csrf_token %}
            <input type="hidden" name="deleted">
            <button>Remove task</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <p>This project has no tasks</p>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}