{% extends 'base.html' %}
{% load index %}

{% block content %}

<div class="project-list">
  <h1>My Projects</h1>
  <p><a href="{% url 'create_project' %}">Create a new project</a></p>
  {% if project_list|length %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Tasks Complete</th>
      </tr>
    </thead>
    <tbody>
      {% for project in project_list %}
      {% if project.urgent is True and project.archive is False %}
      <tr style="color:red">
        <td><a href="{% url 'show_project' project.id %}">
            {{ project.name }}
          </a></td>
        {% else %}
      <tr>
        <td><a href="{% url 'show_project' project.id %}">
            {{ project.name }}
          </a></td>
        {% endif %}
        <td>{{ is_complete | index:forloop.counter0 | length}} of {{ project.tasks.all | length}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You are not assigned to any projects</p>
  {% endif %}
</div>

{% endblock content %}